#grid {
  display: grid;
  grid-template-rows: 124px 124px 124px 124px 124px;
  grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
  grid-gap: 10px;
 
  padding: 10px;
}

/* common item style */
#grid > div {
  background-color: green;
  color: white;
  border: 2px solid white;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* grid placement — MUST USE span */
#grid > div:nth-child(1) {
  grid-column: span 4;
}

#grid > div:nth-child(2) {
  grid-row: span 4;
}

#grid > div:nth-child(4) {
  grid-column: span 2;
}

#grid > div:nth-child(5) {
  grid-column: span 2;
}

#grid > div:nth-child(10) {
  grid-column: span 3;
}

